{% extends "base.html" %}

{% block breadcrumbs %}
Новая покупка/цена
{% endblock %}

{% block content %}

<script>
    $(function() {
        $('#id_shop').autocomplete('/lookup/shop/', {
            dataType: 'json',
            width: 500,
            parse: function(data) {
                return $.map(data, function(row) {
                    return { data:row, value:row[1], result:row[0] };
                });
            }
            }).result(
                function(e, data, value) {
                    $("#id_shop_pk").val(value);
                }
            );
        }
    );
</script>

<script>
    $(function() {
        $('#id_gtitle').autocomplete('/lookup/goods/', {
            dataType: 'json',
            width: 500,
	    extraParams: {
        	format: 'json' // pass the required context to the Zend Controller
	    },
            parse: function(data) {
                return $.map(data, function(row) {
                    return { data:row, value:row[1], result:row[0] };
                });
            }

        }).result(
                function(e, data, value) {
                    $("#id_gtitle_pk").val(value);
                }

            );
    });
</script>

<h1>Добавить новую цену/покупку</h1>

<form action="/trade/add/" method="post">{% csrf_token %}
<table>
{{ form.as_table }}
</table>
<input type="submit" value="Сохранить" />
</form>

{% endblock %}
