{% extends "base.html" %}

{% block head %}
<script language="javascript" type="text/javascript" src="/media/js/jquery.flot.pack.js"></script>
{% endblock %}

{% block breadcrumbs %}

{% if is_profile %}
    Профиль <b>{{ user }}</b>
{% endif %}
{% if is_profile_month %}
    <a href="{% url user_profile %}">Профиль <b>{{ user }}</b></a> - Месяц
{% endif %}
{% if goods1 %}
    Продукт <b>{{ goods1.title }}</b>
{% endif %}
{% if not is_profile_month and not is_profile and not goods1 %}
    {{ block.super }}
{% endif %}

{% endblock %}


{% block left %}
{% if is_profile or is_profile_month %}
<p style="margin:0"><b>За месяц</b>
{% for month1 in month_set %}
    <br><a href="{% url user_month month1.year month1|date:'m' %}">{{ month1.year }}.{{ month1|date:'m' }}</a>
{% endfor %}
{% endif %}
{% endblock %}


{% block content %}

{% if user.is_staff %}<script type="text/javascript">
$(document).ready(function() {
     $('.edit').editable('/edit/goods/', {
         indicator : 'Сохранение...',
         tooltip   : 'Нажмите для изменения...',
         cancel    : 'Отмена',
         submit    : 'OK',
     });
});
</script>{% endif %}

{% if is_profile %}
    <h1>Ваши последние добавления</h1>
{% endif %}
{% if is_profile_month %}
    <h1>Ваши последния добавления за месяц {{ year }}</h1>
{% endif %}
{% if goods1 %}
    <h1>Цены на продукт</h1> <span style="margin: 2px auto 10px; font-size:14px;" class="edit" id="{{ goods1.id }}">{{ goods1.title }}</span>
{% endif %}
{% if not is_profile_month and not is_profile and not goods1 %}
    <h1>Последние обновления цен</h1>
{% endif %}

{% if is_profile %}<p style="margin: 7px 0 5px">сумма за 30 последних дней: <b>{{ cost30.cost_sum }}</b>{% endif %}
{% if is_profile_month %}<p style="margin: 7px 0 5px">на сумму: <b>{{ month_cost.cost_sum }}</b>{% endif %}

{% if goods1 %}
{% load shop_extras %}
<script type="text/javascript">
$(function () {
//    var d1 = [[1,25],[2,26]];

    var i = 1;
    var d1 = [
    {% for trade in object_list %}
    [{{ trade.time|epoch }},{{ trade.price }}],
    {% endfor %}
    ];
    $.plot($("#price_chart"), [d1,], {
        lines: { show: true },
        points: { show: true },
        yaxis: {
            tickDecimals: 2},
        xaxis: {
            minTickSize: [1, "day"],
            mode: "time",
            timeformat: "%y/%m/%d"},
    });
});
</script>
<div id="price_chart" style="width:100%;height:300px;"></div>
{% endif %}

<table style="margin: 5px 0 0px;">

{% for trade in object_list %}
<tr>
<td><i>{# trade.user #}{{ trade.time|date:"j b" }}</i></td>
<td><a href="/shop/{{ trade.shop.id }}" title="{{ trade.shop.addr.city }}, {{ trade.shop.addr.street }}, {{ trade.shop.title }}">маг</a></td>
<td style="text-align:right">
{% if is_profile or is_profile_month %}{% if trade.spytrade %}<img src="/media/eye.png"> {% endif %}{% endif %}
{% if trade.user = user %}<a href="/trade/{{ trade.id }}">{{ trade.price }}</a> 
{% else %}{{ trade.price }}
{% endif %}</td>
<td>{{ trade.get_currency_display }}/{{ trade.goods.get_ed_display }}</td>
{% if is_profile or is_profile_month %}{% if trade.spytrade %}<td></td><td></td>{% endif %}{% if not trade.spytrade %}<td>x{{ trade.amount }}</td><td><b>{{ trade.cost }}</b></td>{% endif %}{% endif %}
{% if not goods1 %}<td><a href="/goods/{{ trade.goods.id }}">{{ trade.goods.title }}</a></td>{% endif %}
</tr>
{% endfor %}

</table>

<span>
    {% if is_paginated %}

        {% if has_previous %}
            <a href="?page={{ previous }}">previous</a>
        {% endif %}

        <span class="current">
            {{ page }}/{{ pages }}
        </span>

        {% if has_next %}
            <a href="?page={{ next }}">next</a>
        {% endif %}

    {% endif %}
</span>


{% endblock %}
