{% extends "base.html" %}

{% block breadcrumbs %}

{% if is_profile %}
    Профиль <b>{{ user }}</b>
{% endif %}
{% if goods1 %}
    Продукт <b>{{ goods1.title }}</b>
{% endif %}
{% if not is_profile and not goods1 %}
    {{ block.super }}
{% endif %}

{% endblock %}

{% block content %}

<table>

{% for trade in object_list %}
<tr>
<td><i>{# trade.user #}{{ trade.time|date:"j b" }}</i></td>
<td><a href="/shop/{{ trade.shop.id }}" title="{{ trade.shop.addr.city }}, {{ trade.shop.addr.street }}, {{ trade.shop.title }}">маг</a></td>
<td style="text-align:right">
{% if is_profile and trade.spytrade %}<img src="/media/eye.png"> {% endif %}
{% if trade.user = user %}<a href="/trade/{{ trade.id }}">{{ trade.price }}</a> 
{% else %}{{ trade.price }}
{% endif %}</td>
<td>{{ trade.get_currency_display }}/{{ trade.goods.get_ed_display }}</td>
<td><a href="/goods/{{ trade.goods.id }}">{{ trade.goods.title }}</a></td>
</tr>
{% endfor %}

</table>

<span>
    {% if is_paginated %}

        {% if has_previous %}
            <a href="?page={{ previous }}">previous</a>
        {% endif %}

        <span class="current">
            {{ page }}/{{ pages }}
        </span>

        {% if has_next %}
            <a href="?page={{ next }}">next</a>
        {% endif %}

    {% endif %}
</span>


{% endblock %}
