<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
       <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
       <head>
         <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
   <title>Добро пожаловать в ваш Django проект.</title>
    <style type="text/css">
body { background-color: #fff; color: #666; text-align: center; font-family: arial, sans-serif; }
div.dialog {
    width: 25em;
    padding: 5em 4em;
    margin: 4em auto 0 auto;
}
h1 { font-size: 100%; line-height: 1.5em; }
img { border: none; }
</style>
</head>
<body>
<div class="dialog">
<a href="http://locum.ru">
<img src="http://locum.ru/images/logo.jpg" alt="logo" /></a>
<h1>Добро пожаловать в ваш Django проект.</h1>
<p>Это приложение создано нами автоматически.<br>Оно может показать некоторые <a href="info/">системные настройки</a> и ничего больше.</p>
<a href="http://www.djangoproject.com" target="_blank"><img alt="django" src="http://locum.ru/images/logos/django-big.png" /></a>
</div>
</body>
</html>
