{% extends "base.html" %}

{% block head %}
<script language="javascript" type="text/javascript" src="/media/js/jquery.js"></script>
    <script language="javascript" type="text/javascript" src="/media/js/jquery.flot.pack.js"></script>
{% endblock %}

{% block body_script %}
onload="onLoad();" onresize="onResize();"
{% endblock %}

{% block breadcrumbs %}

    Магазин

{% endblock %}

{% block content %}

<h1 style="font-weight:normal">Цены магазина: <b>{{ shop.title }}</b>, {{ shop.addr.city }}, {{ shop.addr.street }}, {{ shop.addr.house }}</h1>

{% if goods_id %}
{% load shop_extras %}
<script type="text/javascript">
$(function () {
    var d1 = [
    {% for trade in trade_list %}
    [{{ trade.time|epoch }},{{ trade.price }}],
    {% endfor %}
    ];
    $.plot($("#price_chart"), [d1], {
        lines: { show: true },
        points: { show: true },
        yaxis: {
            tickDecimals: 2},
        xaxis: {
            minTickSize: [1, "day"],
            mode: "time",
            timeformat: "%y/%m/%d"},
        grid: { hoverable: true, clickable: true },
        legend: { show: false },
    });

    function showTooltip(x, y, contents) {
        $('<div id="tooltip">' + contents + '</div>').css( {
            position: 'absolute',
            display: 'none',
            top: y + 5,
            left: x + 5,
            border: '1px solid #fdd',
            padding: '2px',
            'background-color': '#fee',
            opacity: 0.80
        }).appendTo("body").fadeIn(200);
    };

    var previousPoint = null;
    $("#price_chart").bind("plothover", function (event, pos, item) {
        if (item) {
            if (previousPoint != item.datapoint) {
                previousPoint = item.datapoint;

                $("#tooltip").remove();
                var x = new Date(item.datapoint[0]);
                var y = item.datapoint[1].toFixed(2);
                var xmonth = x.getMonth() + 1 +"";
                if (xmonth.length == 1) {
                    xmonth = "0" + xmonth;
                }
                showTooltip(item.pageX, item.pageY - 25,
                            x.getDate() + '/' + xmonth + '/' + x.getFullYear() +
                            " (" + x.getHours() + ":" + x.getMinutes() + ") = " + y);
            }
        }
        else {
            $("#tooltip").remove();
            previousPoint = null;
        }
    });
});
</script>

<div id="price_chart" style="width:100%;height:300px;"></div>
{% endif %}

<table>
{% for trade in trade_list %}
<tr>
<td><i>{{ trade.time|date:"j b" }}&nbsp</i></td>
<td style="text-align:right">
{% if is_profile and trade.spytrade %}<img src="/media/eye.png"> {% endif %}
<b>{% if trade.user = user %}<a href="/trade/{{ trade.id }}">{{ trade.price }}</a>
{% else %}{{ trade.price }}</b>
{% endif %}</td>
<td>{{ trade.get_currency_display }}/{{ trade.goods.get_ed_display }}</td>
<td><a href="/goods/{{ trade.goods.id }}">{{ trade.goods.title }}</a></td>
</tr>
{% endfor %}
</table>

{% endblock %}

{% block left %}
    <table width=100%>
    {% for goods in goods_top %}
    <tr>
    <td>{{ goods.goods_count }}x</td>
    <td><a href="/shop/{{ shop.id }}/goods/{{ goods.goods__id }}">{{ goods.goods__title }}</a></td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}
