<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
<title>OpenPrice</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<script type="text/javascript" src="/media/js/jquery.min.js"></script>
<script type="text/javascript" src="/media/js/jquery.bgiframe.min.js"></script>
<script type="text/javascript" src="/media/js/jquery.autocomplete.min.js"></script>
<link rel="stylesheet" type="text/css" href="/media/js/jquery.autocomplete.css" />


<style>
    body {
        font-family:sans-serif;
        background:#eeeeee;
        color:#555;
        text-align:center;
    }

    h1, h2 {
        border-bottom:1px #555 solid;
        color:#c50000;
    }

    a {
        color:#a52919
    }
</style>

{% block head %}{% endblock %}

</head>
<body align=center {% block body_script %}{% endblock %}>

<table width=70% align=center><tr><td>


<center><h1><img src="/media/earth.gif">openprice</h1></center>


<div align=center>
    <a href="/">главная</a> |
    {% if user.is_authenticated %}
    <a href="/accounts/profile/">профиль</a> |
    <a href="/trade/add/">добавить</a> |
    {% if user.is_staff %}
    < a href="/admin/">админка</a> |
    {% endif %}
    <a href="{% url auth_logout %}">выйти</a> ({{ user.username }})
    {% else %}
    <a href="{% url auth_login %}">войти</a>
    {% endif %}
</div>

<h2>{% block title %}{% endblock %}</h2>


<div align=left>
    {% block content %}

    {% endblock %}
</div>


</td></tr></table>

<div align=center>author: bydlocode foundation</div>

</body></html>
