{% extends "base.html" %}

{% block title %}последние по товару: {{ goods1.title }}{% endblock %}

{% block content %}

{% for trade in goods_list %}
<p><i>{{ trade.user }} - {{ trade.time }}
</i> - <b><a href="/goods/{{ trade.goods.gclass.id }}">{{ trade.goods.gclass.title }}</a> {{ trade.goods.title }} - {{ trade.price }} {{ trade.currency }}/{{ trade.goods.ed }} - {{ trade.amount }}</b> ({{ trade.shop.addr.city }}, <a href="/shop/{{ trade.shop.id }}" title="{{ trade.shop.addr.city }}, {{ trade.shop.addr.street }}">{{ trade.shop.title }}</a>)</p>

{% endfor %}

{% endblock %}
