{% extends "base.html" %}

{% block head %}
<style type="text/css">
    .smallmap {
        width: 800px;
        height: 600px;
        border: 1px solid #ccc;
    }
</style>

<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
<script src="/media/js/openprice.js"></script>
{% endblock %}

{% block body_script %}
onload="init({{ shop.addr.x }}, {{ shop.addr.y }})"
{% endblock %}

{% block title %}Торговая точка{% endblock %}

{% block content %}

<p>
    <b>{{ shop.title }}</b>
    ({{ shop.type.title }}, {{ shop.addr.city }} - {{ shop.addr.street }}, {{ shop.addr.house }})
<p>Координаты: {{ shop.addr.x }} / {{ shop.addr.y }}

<div id="map" class="smallmap"></div>
  
longitude (X) <textarea id="xOutput"></textarea> <br />
latitude (Y) <textarea id="yOutput"></textarea>

{% endblock %}