{% extends "base.html" %}
{% load markup %}

{% block title %}последние{% endblock %}

{% block content %}

{% for trade in trade_list %}
<p><i>{{ trade.user }} - {{ trade.time }}
</i> - <b><a href="/goods/{{ trade.goods.gclass.id }}">{{ trade.goods.gclass.title }}</a> {{ trade.goods.title }} - {{ trade.price }} {{ trade.currency }}/{{ trade.goods.ed }} -
{% if trade.user = user %}
<a href="/trade/{{ trade.id }}">{{ trade.amount }}</a>
{% else %}
{{ trade.amount }}
{% endif %}

</b> ({{ trade.shop.addr.city }}, <a href="/shop/{{ trade.shop.id }}" title="{{ trade.shop.addr.city }}, {{ trade.shop.addr.street }}">{{ trade.shop.title }}</a>)</p>

{% endfor %}

{% endblock %}
