{% extends "base.html" %}
{% load markup %}

{% block title %}последние{% endblock %}

{% block content %}


{% if goods_top %}
<table width=20%>
{% for goods in goods_top %}
<tr>
<td><a href="/goods/{{ goods.goods__id }}">{{ goods.goods__title }}</a></td>
<td>{{ goods.goods_count }}</td>
</tr>
{% endfor %}
</table>
{% endif %}


<table width=100%>

{% for trade in trade_list %}
<tr>
<td><i>{# trade.user #}{{ trade.time|date:"j b" }}</i></td>
<td><a href="/shop/{{ trade.shop.id }}" title="{{ trade.shop.addr.city }}, {{ trade.shop.addr.street }}, {{ trade.shop.title }}">маг</a></td>
<td align=right>
{% if trade.user = user %}
<a href="/trade/{{ trade.id }}">{{ trade.price }}</a> 
{% else %}
{{ trade.price }}
{% endif %}
</td>
<td>{{ trade.get_currency_display }}/{{ trade.goods.get_ed_display }}</td>
<td><a href="/goods/{{ trade.goods.id }}">{{ trade.goods.title }}</a></td>

</tr>
{% endfor %}

</table>

{% endblock %}
